@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.logo, h1, p {
  font-family: Shrikhand, sans-serif;
}

/*Général*/
.flexcolumn, .media900px {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcenter, .btnnouveau {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexevenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.justifystart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.displaynone {
  display: none;
}

.titreacc {
  font-size: x-large;
  width: 100%;
  justify-self: flex-start;
  margin-left: 20px;
}

.btnmenu {
  width: 100%;
  height: 70px;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-top: -25px;
}

.titremenu {
  font-size: large;
  justify-self: flex-start;
  padding-top: 40px;
  padding-left: 30px;
}

.useful_width, .btnfin, .cardsfr, .imagefr, .btnmenu, .titremenu {
  min-width: 250px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/*header accueil*/
header > div > a {
  text-decoration: none;
  color: black;
}

.logo {
  height: 30px;
  padding: 10px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #DCDCDC;
  height: 50px;
  border-top: 2px solid #C0C0C0;
}

.searchinput {
  background-color: #DCDCDC;
  border: 1px solid #DCDCDC;
  font-size: medium;
  margin-left: 10px;
  width: 150px;
}

.headertitre {
  width: 100%;
  background-color: #F2F2F2;
}

.textalign {
  text-align: center;
}

.fontsizetitre {
  font-weight: bold;
  font-size: x-large;
}

.margintitre {
  margin-bottom: 30px;
}

.icone_acc {
  margin: 0 10%;
  transition: all 400ms;
}
.icone_acc:hover {
  color: #9356DC;
}

.btnhead {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: auto;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 3px 3px 3px silver;
  z-index: 1;
  position: relative;
}
.btnhead:hover {
  box-shadow: 3px 3px 3px lightgrey;
}
.btnhead:hover::after {
  opacity: 1;
}
.btnhead::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(#ff50cf 0%, #9e67e0 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

/*nav accueil*/
.numero {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: -10px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  color: white;
}

.btnnav {
  height: 50px;
  width: 70%;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #F2F2F2;
  box-shadow: 5px 5px 5px #DCDCDC;
}

.btnmargin {
  margin-right: 10%;
  font-weight: bold;
}

/*cards accueil*/
.restaurant {
  background-color: #F2F2F2;
}

.cardsize {
  width: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #DCDCDC;
  margin-bottom: 30px;
  position: relative;
  text-decoration: none;
}

.colorblack {
  color: black;
}

.imageacc {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btnnouveau {
  width: 80px;
  height: 25px;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #6B8E23;
  border-radius: 2px;
}

.txtacc {
  margin: 0 20px;
}

/*footer*/
.footercolor {
  background-color: #000000;
}

.logofooter {
  height: 15px;
  filter: invert(100%);
  margin-top: 35px;
  margin-bottom: 20px;
}

.txt_footer {
  color: white;
}

.marginfooter30 {
  margin-left: 30px;
}

.marginfooter20 {
  margin-left: 20px;
}

.marginfooter10 {
  margin-bottom: 10px;
}

.paddingcontact {
  padding-top: 10px;
  padding-bottom: 40px;
}

/*header menu*/
.position {
  position: relative;
  right: 35px;
}

.imagefr {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icone_heart {
  transition: all 400ms;
}
.icone_heart:hover {
  color: #FF79DA;
}

.icone_heart:hover .displaynone {
  display: block;
}

.icone_heart:hover .displayblock {
  display: none;
}

/*menu*/
.cardsfr {
  background-color: #F2F2F2;
}

.menuunderline {
  width: 40px;
  border-top: 3px solid #99E2D0;
  position: relative;
  right: 90px;
  top: -10px;
}

.menufr {
  height: 70px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #DCDCDC;
  margin: 15px 0;
}
.menufr .txtform {
  font-size: 15px;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menufr .flexcenter .margin, .menufr .btnnouveau .margin {
  margin-right: 20px;
}
.menufr .flexcenter .sizeprix, .menufr .btnnouveau .sizeprix {
  width: 50px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  color: white;
}
.menufr .flexcenter .sizeprix .iconecheck, .menufr .btnnouveau .sizeprix .iconecheck {
  -webkit-animation: iconecheck 500ms ease-in-out 1;
          animation: iconecheck 500ms ease-in-out 1;
}
.menufr:hover .displaynone {
  display: flex;
}

@-webkit-keyframes iconecheck {
  0% {
    transform: translateX(15px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
  }
}

@keyframes iconecheck {
  0% {
    transform: translateX(15px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(360deg);
  }
}
.menutest {
  position: relative;
}
.menutest .textform {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menutest .bloctest {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  right: -40px;
  transition: right 0.3s ease-in-out;
}
.menutest .bloctest .prixtest {
  margin-right: 10px;
}
.menutest .bloctest .iconetest {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  height: 100%;
  width: 40px;
  margin: auto;
  border-radius: 0 20px 20px 0;
  opacity: 0;
}
.menutest .bloctest .iconetest .iconebox {
  transition: transform 1s ease-in-out;
}
.menutest:hover .bloctest {
  right: 0px;
}
.menutest:hover .iconetest {
  opacity: 1;
}
.menutest:hover .iconetest .iconebox {
  transform: rotate(720deg);
}

.btnfin {
  background-color: #F2F2F2;
  height: 100px;
}

/*loader*/
.loader_conteneur {
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  border: 16px solid black;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: chargeur 2500ms linear 1;
          animation: chargeur 2500ms linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
    opacity: 100%;
  }
  66% {
    transform: rotate(720deg) scale(1);
    opacity: 100%;
  }
  98% {
    transform: rotate(1080deg) scale(1.15);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    transform: rotate(360deg) scale(1.15);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
    opacity: 100%;
  }
  66% {
    transform: rotate(720deg) scale(1);
    opacity: 100%;
  }
  98% {
    transform: rotate(1080deg) scale(1.15);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.displayicone {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  -webkit-animation: chargeuricone 2500ms linear 1;
          animation: chargeuricone 2500ms linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@-webkit-keyframes chargeuricone {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    transform: rotate(-360deg) scale(2.2);
    opacity: 100%;
  }
  66% {
    transform: rotate(-720deg) scale(1);
    opacity: 100%;
  }
  98% {
    transform: rotate(-1080deg) scale(2.2);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes chargeuricone {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    transform: rotate(-360deg) scale(2.2);
    opacity: 100%;
  }
  66% {
    transform: rotate(-720deg) scale(1);
    opacity: 100%;
  }
  98% {
    transform: rotate(-1080deg) scale(2.2);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.opaque {
  -webkit-animation: opaquebody 3000ms linear 1;
          animation: opaquebody 3000ms linear 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes opaquebody {
  0% {
    opacity: 0%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opaquebody {
  0% {
    opacity: 0%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*animation déroulant menu */
.opaqueentree {
  width: 100%;
  -webkit-animation: opaqueentree 1000ms linear 1;
          animation: opaqueentree 1000ms linear 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes opaqueentree {
  0% {
    opacity: 0%;
  }
  23% {
    opacity: 0%;
  }
  33% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opaqueentree {
  0% {
    opacity: 0%;
  }
  23% {
    opacity: 0%;
  }
  33% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
.opaqueplats {
  width: 100%;
  -webkit-animation: opaqueplats 1000ms linear 1;
          animation: opaqueplats 1000ms linear 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes opaqueplats {
  0% {
    opacity: 0%;
  }
  56% {
    opacity: 0%;
  }
  66% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opaqueplats {
  0% {
    opacity: 0%;
  }
  56% {
    opacity: 0%;
  }
  66% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
.opaquedesserts {
  width: 100%;
  -webkit-animation: opaquedesserts 1000ms linear 1;
          animation: opaquedesserts 1000ms linear 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes opaquedesserts {
  0% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opaquedesserts {
  0% {
    opacity: 0%;
  }
  90% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*media querie*/
@media screen and (min-width: 900px) {
  .useful_width, .btnmenu, .titremenu, .imagefr, .cardsfr, .btnfin {
    min-width: 900px;
    max-width: 1024px;
  }

  .btnnav {
    width: 40%;
  }

  .media900px {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .cardsize {
    width: 40%;
    margin: 3% 5%;
  }

  .titremenu {
    min-width: 120px;
    max-width: 250px;
    margin-left: none;
    margin-right: none;
  }

  .menufr {
    width: 90%;
  }

  .opaqueentree, .opaqueplats, .opaquedesserts {
    width: 30%;
  }

  .position {
    position: relative;
    right: 300px;
  }

  .menuunderline {
    position: relative;
    right: 25px;
    top: -10px;
  }
}/*# sourceMappingURL=style.css.map */