body
{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.logo, h1, p
{
    font-family: Shrikhand, sans-serif;
}

/*Général*/@at-root
/* présence des display flex et none, des couleurs en scss,
et des largeurs/hauteur/margin générales*/

.flexcolumn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexevenly
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.justifystart
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.displaynone
{
    display: none;
}

$backgroundprimary: #F2F2F2;

$backgroundsearch: #DCDCDC;

$backgroundboutonclair: #FF79DA;

$backgroundboutonfonce: #9356DC;

$backgroundboiteverte: #99E2D0;

$backgroundfooter: #000000;

$backgroundfootertxt: white;

.useful_width
{
    min-width: 250px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

/*header accueil*/@at-root

header > div > a
{
    text-decoration: none;
    color: black;
}

.logo
{
    height: 30px;
    padding: 10px;
}

.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $backgroundsearch;
    height: 50px;
    border-top: 2px solid #C0C0C0;
}

.searchinput
{
    background-color: $backgroundsearch;
    border: 1px solid $backgroundsearch;
    font-size: medium;
    margin-left: 10px;
    width: 150px;
}

.headertitre
{
    width: 100%;
    background-color: $backgroundprimary;
}

.textalign
{
    text-align: center;
}

.fontsizetitre
{
    font-weight: bold;
    font-size: x-large;
}

.margintitre
{
    margin-bottom: 30px;
}

.icone_acc
{
    color: black;
    margin: 0 10%;
    transition: all 400ms;
        &:hover
        {
            color: $backgroundboutonfonce;
        }
}

.btnhead
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    margin: auto;
    color: white;
    text-decoration: none;
    background: linear-gradient($backgroundboutonclair, $backgroundboutonfonce);
    border-radius: 20px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 3px silver;
    z-index: 1;
    position: relative;
    &:hover
    {
        box-shadow: 3px 3px 3px lightgrey;
        &::after
        {
            opacity: 1;
        }
    }
    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 20px;
        background: linear-gradient(darken($backgroundboutonclair, 8) 0%, lighten($backgroundboutonfonce, 4) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 500ms;

    }
}


/*nav accueil*/@at-root

.numero
{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: -10px;
    background-color: $backgroundboutonfonce;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    color: white;
}

.btnnav
{
    height: 70px;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: $backgroundprimary;
    box-shadow: 5px 5px 5px $backgroundsearch;
}

.btnmargin
{
    margin-right: 10%;
    font-weight: bold;
    color: black;
}

.deconone
{
    text-decoration: none;
}

/*cards accueil*/@at-root

.titreacc
{
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    justify-self: flex-start;
    margin-left: 20px;
}


.restaurant
{
    background-color: $backgroundprimary;
}

.cardsize
{
    width: 80%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px $backgroundsearch;
    margin-bottom: 30px;
    position: relative;
    text-decoration: none;
}

.colorblack
{
    color: black;
}

.imageacc
{
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.btnnouveau
{
    width: 80px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #99E2D0;
    color: #6B8E23;
    border-radius: 2px;
    @extend .flexcenter;
}

.media900px
{
    @extend .flexcolumn;
}

.txtacc
{
    margin: 0 20px;
}

/*footer*/@at-root

.footercolor
{
    background-color: $backgroundfooter;
}

.logofooter
{
    height: 15px;
    filter: invert(100%);
    margin-top: 35px;
    margin-bottom: 20px;
}

.txt_footer
{
    color: $backgroundfootertxt;
}

.marginfooter30
{
    margin-left: 30px;
}

.marginfooter20
{
    margin-left: 20px;
}

.marginfooter10
{
    margin-bottom: 10px;
}

.paddingcontact
{
    padding-top: 10px;
    padding-bottom: 40px;
}

/*header menu*/@at-root

.position
{
    position: relative;
    right: 35px;
}

.imagefr
{
    height: 250px;
    @extend .useful_width;
    width: 100%;
    object-fit: cover;
}

.btnmenu
{
    width: 100%;
    @extend .useful_width;
    height: 70px;
    border-radius: 20px 20px 0 0;
    background-color: $backgroundprimary;
    margin-top: -25px; 
}

.titremenu
{
    @extend .useful_width;
    font-size: large;
    font-weight: bold;
    justify-self: flex-start;
    padding-top: 40px;
    padding-left: 30px;
}

.icone_heart
{
    color: black;
    transition: all 400ms;
        &:hover
        {
            color: $backgroundboutonclair;
        }
}

.icone_heart:hover .displaynone
{
    display: block;
}

.icone_heart:hover .displayblock
{
    display: none
}

/*menu*/@at-root

.cardsfr
{
    background-color: $backgroundprimary;
    @extend .useful_width
}

.menuunderline
{
    width: 40px;
    border-top: 3px solid #99E2D0;
    position: relative;
    right: 90px;
    top: -10px;
}

.menubox 
{
    text-decoration: none;
    height: 70px;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px $backgroundsearch;
    margin: 15px 0;
    
    .textform
    {
        font-size: 15px;
        padding-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: black;
    }

    .flexcenter
    {
        .prixform
        {
            font-size: 15px;
            margin-right: 20px;
            color: black;
        }
    
        .iconebox
        {
            background-color: $backgroundboiteverte;
            width: 0px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border-radius: 0 25px 25px 0;
            transition: all 0.3s ease-in-out;
    
            .iconecheck
            {
                margin-right: 20px;
                transition: all 0.3s ease-in-out;
                font-size: 18px;
            }
        } 
    }

    &:hover
    {
        .iconebox
        {
            width: 90px;
            height: 70px;
            border-radius: 0 20px 20px 0;

            .iconecheck
            {
                margin-right: 0px;
                transform: rotate(360deg);
            }
        }
    }
    
    
}

.btnfin
{
    @extend .useful_width;
    background-color: $backgroundprimary;
    height: 100px;
}

/*loader*/@at-root

.loader_conteneur
{
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar
    {
        display: none;
    }

.loader
{
    position: fixed;
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    border: 16px solid black;
    border-top-color: $backgroundboutonclair;
    border-bottom-color: $backgroundboutonfonce;
    border-radius: 50%;
    animation: chargeur 2500ms linear 1;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@keyframes chargeur
{
    0%
    {
        transform: rotate(0deg) scale(1);
        opacity: 100%;
    }
    33%
    {
        transform: rotate(360deg) scale(1.15);
        border-top-color: $backgroundboiteverte;
        border-bottom-color: $backgroundboiteverte;
        opacity: 100%
    }
    66%
    {
        transform: rotate(720deg) scale(1);
        opacity: 100%;
    }
    98%
    {
        transform: rotate(1080deg) scale(1.15);
        opacity: 100%;
    }
    100%
    {
        opacity: 0%;
    }
}

.displayicone
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    animation: chargeuricone 2500ms linear 1;
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

@keyframes chargeuricone
{
    0%
    {
        transform: rotate(0deg) scale(1);
        opacity: 100%;
    }
    33%
    {
        transform: rotate(-360deg)  scale(2.20);
        opacity: 100%;
    }
    66%
    {
        transform: rotate(-720deg)  scale(1);
        opacity: 100%;
    }
    98%
    {
        transform: rotate(-1080deg)  scale(2.20);
        opacity: 100%;
    }
    100%
    {
        opacity: 0%;
    }
}

.opaque
{
    animation: opaquebody 3000ms linear 1;
    animation-fill-mode: backwards;
}

@keyframes opaquebody
{
    0%
    {
        opacity: 0%;
    }
    99%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}

/*animation déroulant menu */

.opaqueentree
{
    width: 100%;
    animation: opaqueentree 1000ms linear 1;
    animation-fill-mode: backwards;
}

@keyframes opaqueentree
{
    0%
    {
        opacity: 0%;
    }
    23%
    {
        opacity: 0%;
    }
    33%
    {
        opacity: 100%;
    }
    100%
    {
        opacity: 100%;
    }
}

.opaqueplats
{
    width: 100%;
    animation: opaqueplats 1000ms linear 1;
    animation-fill-mode: backwards;
}

@keyframes opaqueplats
{
    0%
    {
        opacity: 0%;
    }
    56%
    {
        opacity: 0%;
    }
    66%
    {
        opacity: 100%;
    }
    100%
    {
        opacity: 100%;
    }
}

.opaquedesserts
{
    width: 100%;
    animation: opaquedesserts 1000ms linear 1;
    animation-fill-mode: backwards;
    margin-bottom: 30px;
}

@keyframes opaquedesserts
{
    0%
    {
        opacity: 0%;
    }
    90%
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 100%;
    }
}

/*media querie*/

@media screen and (min-width: 900px)
{
    .useful_width
    {
        min-width: 900px;
        max-width: 1440px;
    }

    .btnnav
    {
        width: 40%;
    }

    .media900px
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    .cardsize
    {
        width: 40%;
        margin: 3% 5%;
    }

    .titremenu
    {
        min-width: 120px;
        max-width: 250px;
        margin-left: none;
        margin-right: none;
    }

    .menufr
    {
        width: 90%;
    }

    .opaqueentree, .opaqueplats, .opaquedesserts
    {
        width: 30%;
        margin-bottom: 30px;
    }

    .position
    {
        position: relative;
        right: 300px;
    }

    .menuunderline
    {
        position: relative;
        right: 25px;
        top: -10px;
    }
}
