@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

/*Général*/
.flexcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexevenly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justifystart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.displaynone {
  display: none;
}

.titreacc {
  font-size: x-large;
  width: 100%;
  justify-self: flex-start;
  margin-left: 20px;
}

.btnmenu {
  width: 100%;
  height: 70px;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-top: -25px;
}

.titremenu {
  min-width: 320px;
  max-width: 500px;
  font-size: large;
  justify-self: flex-start;
  padding-top: 40px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

.useful_width, .btnmenu, .imagefr, .cardsfr {
  min-width: 320px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/*header accueil*/
.logo {
  height: 30px;
  padding: 10px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #DCDCDC;
  height: 50px;
  border-top: 2px solid #C0C0C0;
}

.searchinput {
  background-color: #DCDCDC;
  border: 1px solid #DCDCDC;
  font-size: medium;
  margin-left: 10px;
  width: 150px;
}

.headertitre {
  width: 100%;
  background-color: #F2F2F2;
}

.textalign {
  text-align: center;
}

.btnhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  margin-bottom: 40px;
  z-index: 1;
  position: relative;
}

.btnhead:hover::after {
  opacity: 1;
}

.btnhead::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), to(#782cd3));
  background: linear-gradient(#ff93e1 0%, #782cd3 100%);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

/*nav accueil*/
.numero {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: -10px;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: xx-small;
  color: white;
}

.btnnav {
  height: 50px;
  width: 280px;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #F2F2F2;
  -webkit-box-shadow: 5px 5px 5px #DCDCDC;
          box-shadow: 5px 5px 5px #DCDCDC;
}

.btnmargin {
  margin-right: 60px;
}

/*cards accueil*/
.restaurant {
  background-color: #F2F2F2;
}

.cardsize {
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #DCDCDC;
          box-shadow: 5px 5px 5px #DCDCDC;
  margin-bottom: 30px;
}

.imageacc {
  width: 300px;
  height: 140px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.txtacc {
  margin: 0 20px;
}

/*footer*/
footer {
  background-color: #000000;
}

.logofooter {
  height: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.txt_footer {
  color: white;
}

/*header menu*/
.position {
  position: relative;
  right: 50px;
  top: 5px;
}

.imagefr {
  height: 250px;
  width: 100%;
}

.icone_heart {
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.icone_heart:hover {
  color: #FF79DA;
}

.icone_heart:hover .displaynone {
  display: block;
}

.icone_heart:hover .displayblock {
  display: none;
}

/*menu*/
.cardsfr {
  background-color: #F2F2F2;
}

.menufr {
  height: 70px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px #DCDCDC;
          box-shadow: 5px 5px 5px #DCDCDC;
  margin: 15px 0;
}

.prix:hover .displaynone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sizeprix {
  width: 40px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  color: white;
}

.btncheck {
  -webkit-animation: iconecheck 1000ms ease-in-out;
          animation: iconecheck 1000ms ease-in-out;
}

@-webkit-keyframes iconecheck {
  0% {
    -webkit-transform: translateX(30px) rotate(0deg);
            transform: translateX(30px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotate(1080deg);
            transform: translateX(0px) rotate(1080deg);
  }
}

@keyframes iconecheck {
  0% {
    -webkit-transform: translateX(30px) rotate(0deg);
            transform: translateX(30px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(0px) rotate(1080deg);
            transform: translateX(0px) rotate(1080deg);
  }
}

.txtform {
  font-size: 15px;
  padding-left: 10px;
}

.btnfin {
  margin-top: 50px;
}

/*loader*/
.loader {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  border: 16px solid black;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: chargeur 3000ms linear 1;
          animation: chargeur 3000ms linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes chargeur {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
    opacity: 100%;
  }
  66% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    opacity: 100%;
  }
  98% {
    -webkit-transform: rotate(1080deg) scale(1.15);
            transform: rotate(1080deg) scale(1.15);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes chargeur {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    -webkit-transform: rotate(360deg) scale(1.15);
            transform: rotate(360deg) scale(1.15);
    border-top-color: #99E2D0;
    border-bottom-color: #99E2D0;
    opacity: 100%;
  }
  66% {
    -webkit-transform: rotate(720deg) scale(1);
            transform: rotate(720deg) scale(1);
    opacity: 100%;
  }
  98% {
    -webkit-transform: rotate(1080deg) scale(1.15);
            transform: rotate(1080deg) scale(1.15);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.displayicone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -webkit-animation: chargeuricone 3000ms linear 1;
          animation: chargeuricone 3000ms linear 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes chargeuricone {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    -webkit-transform: rotate(-360deg) scale(2.2);
            transform: rotate(-360deg) scale(2.2);
    opacity: 100%;
  }
  66% {
    -webkit-transform: rotate(-720deg) scale(1);
            transform: rotate(-720deg) scale(1);
    opacity: 100%;
  }
  98% {
    -webkit-transform: rotate(-1080deg) scale(2.2);
            transform: rotate(-1080deg) scale(2.2);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes chargeuricone {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    opacity: 100%;
  }
  33% {
    -webkit-transform: rotate(-360deg) scale(2.2);
            transform: rotate(-360deg) scale(2.2);
    opacity: 100%;
  }
  66% {
    -webkit-transform: rotate(-720deg) scale(1);
            transform: rotate(-720deg) scale(1);
    opacity: 100%;
  }
  98% {
    -webkit-transform: rotate(-1080deg) scale(2.2);
            transform: rotate(-1080deg) scale(2.2);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.opaque {
  opacity: 0;
  -webkit-animation: opaquebody 3000ms linear 1;
          animation: opaquebody 3000ms linear 1;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes opaquebody {
  0% {
    opacity: 0%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes opaquebody {
  0% {
    opacity: 0%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=style.css.map */