@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

/*Général*/
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexevenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.justifystart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.displaynone {
  display: none;
}

.titreacc {
  font-size: x-large;
  width: 100%;
  justify-self: flex-start;
  margin-left: 20px;
}

.btnmenu {
  width: 100%;
  height: 70px;
  border-radius: 20px 20px 0 0;
  background-color: #F2F2F2;
  margin-top: -25px;
}

.titremenu {
  min-width: 320px;
  max-width: 500px;
  font-size: large;
  justify-self: flex-start;
  padding-top: 40px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

.useful_width, .cardsfr, .imagefr, .btnmenu {
  min-width: 320px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/*header accueil*/
.logo {
  height: 30px;
  padding: 10px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #DCDCDC;
  height: 50px;
  border-top: 2px solid #C0C0C0;
}

.searchinput {
  background-color: #DCDCDC;
  border: 1px solid #DCDCDC;
  font-size: medium;
  margin-left: 10px;
  width: 150px;
}

.headertitre {
  width: 100%;
  background-color: #F2F2F2;
}

.textalign {
  text-align: center;
}

.btnhead {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  margin-bottom: 40px;
  z-index: 1;
  position: relative;
}
.btnhead:hover::after {
  opacity: 1;
}
.btnhead::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(#ff93e1 0%, #782cd3 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms;
}

/*nav accueil*/
.numero {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-left: -10px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-small;
  color: white;
}

.btnnav {
  height: 50px;
  width: 280px;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: #F2F2F2;
  box-shadow: 5px 5px 5px #DCDCDC;
}

.btnmargin {
  margin-right: 60px;
}

/*cards accueil*/
.restaurant {
  background-color: #F2F2F2;
}

.cardsize {
  border-radius: 20px;
  box-shadow: 5px 5px 5px #DCDCDC;
  margin-bottom: 30px;
}

.imageacc {
  width: 300px;
  height: 140px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.txtacc {
  margin: 0 20px;
}

/*footer*/
footer {
  background-color: #000000;
}

.logofooter {
  height: 20px;
}

.txt_footer {
  color: white;
}

/*header menu*/
.position {
  position: relative;
  right: 50px;
  top: 5px;
}

.imagefr {
  height: 250px;
  width: 100%;
}

.icone_heart {
  transition: all 400ms;
}
.icone_heart:hover {
  color: #FF79DA;
}

.icone_heart:hover .displaynone {
  display: block;
}

.icone_heart:hover .displayblock {
  display: none;
}

/*menu*/
.cardsfr {
  background-color: #F2F2F2;
}

.menufr {
  height: 70px;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #DCDCDC;
  margin: 15px 0;
}

.prix:hover .displaynone {
  display: flex;
}

.sizeprix {
  width: 40px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  color: white;
}

.btncheck {
  -webkit-animation: iconecheck 1000ms ease-in-out;
          animation: iconecheck 1000ms ease-in-out;
}

@-webkit-keyframes iconecheck {
  0% {
    transform: translateX(30px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(1080deg);
  }
}

@keyframes iconecheck {
  0% {
    transform: translateX(30px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(1080deg);
  }
}
.txtform {
  font-size: 15px;
  padding-left: 10px;
}

.btnfin {
  margin-top: 50px;
}

/*loader*/
.loader {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  border: 16px solid grey;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  background-color: black;
  border-radius: 50%;
  -webkit-animation: chargeur 2000ms linear infinite;
          animation: chargeur 2000ms linear infinite;
}

@-webkit-keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.15);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.15);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
.displayicone {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: chargeuricone 2000ms linear infinite;
          animation: chargeuricone 2000ms linear infinite;
}

@-webkit-keyframes chargeuricone {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2.2) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-720deg);
  }
}

@keyframes chargeuricone {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(2.2) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(-720deg);
  }
}
.backgroundcolor {
  width: 100%;
  height: 100%;
  background-color: black;
}/*# sourceMappingURL=style.css.map */