body
{
    margin: 0;
    padding: 0;
}

/*Général*/@at-root

.flexcolumn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexcenter
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbetween
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justifystart
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.displaynone
{
    display: none;
}

$backgroundprimary: #F2F2F2;

$backgroundsearch: #DCDCDC;

$backgroundfooter: #000000;

$backgroundfootertxt: white;

.titreacc
{
    font-size: x-large;
    width: 100%;
    justify-self: flex-start;
    margin-left: 20px;
}

.btnmenu
{
    width: 280px;
    height: 70px;
    border-radius: 20px 20px 0 0;
    background-color: $backgroundprimary;
    margin-top: -25px;
    padding: 0 20px; 
}

.titremenu
{
    min-width: 320px;
    max-width: 500px;
    font-size: large;
    justify-self: flex-start;
    padding-top: 40px;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

.useful_width
{
    min-width: 320px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/*header accueil*/@at-root

.logo
{
    height: 30px;
    padding: 10px;
}

.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $backgroundsearch;
    height: 50px;
    border-top: 2px solid #C0C0C0;
}

.searchinput
{
    background-color: $backgroundsearch;
    border: 1px solid $backgroundsearch;
    font-size: medium;
    margin-left: 10px;
    width: 150px;
}

.headertitre
{
    width: 100%;
    background-color: $backgroundprimary;
}

.textalign
{
    text-align: center;
}

.btnhead
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: white;
    background-image: linear-gradient(#FF79DA ,#9356DC);
    border-radius: 20px;
    margin-bottom: 40px;

}

/*nav accueil*/@at-root

.numero
{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin-left: -10px;
    background-color: #9356DC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-small;
    color: white;
}

.btnnav
{
    height: 50px;
    width: 280px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: $backgroundprimary;
    box-shadow: 5px 5px 5px $backgroundsearch;
}

.btnmargin
{
    margin-right: 60px;
}

/*cards accueil*/@at-root

.restaurant
{
    background-color: $backgroundprimary;
}

.cardsize
{
    border-radius: 20px;
    box-shadow: 5px 5px 5px $backgroundsearch;
    margin-bottom: 30px;
}

.imageacc
{
    width: 300px;
    height: 140px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.txtacc
{
    margin: 0 20px;
}

/*footer*/@at-root

footer
{
    background-color: $backgroundfooter;
}

.logofooter
{
    height: 20px;
}

.txt_footer
{
    color: $backgroundfootertxt;
}

/*header menu*/@at-root

.position
{
    position: relative;
    right: 50px;
    top: 5px;
}

.imagefr
{
    height: 250px;
    @extend .useful_width;
    width: 100%;
}

.icone_heart
{
    transition: all 400ms;
        &:hover
        {
            color: #FF79DA;
        }
}

.icone_heart:hover .displaynone
{
    display: block;
}

.icone_heart:hover .displayblock
{
    display: none
}

/*menu*/@at-root

.cardsfr
{
    background-color: $backgroundprimary;
    @extend .useful_width
}

.menufr
{
    height: 70px;
    width: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px $backgroundsearch;
    margin: 15px 0;
}

.txtform
{
    font-size: 15px;
    padding-left: 10px;
}

.btnfin
{
    margin-top: 50px;
}